body {
     background: rgb(210, 220, 231);
     color: black;
     font-family: 'Poppins';
     margin: 0;
     padding: 14em 14em 14em 6.7em;
}

img {
     position: absolute;
     z-index: -2;
     height: 100vh; 
     top: 0;
     left: 0;
}

.container {
     display: inline-block;
     background: rgba(255, 255, 255, 0.2);
     padding: 3em;
     border-radius: 3em;
     position: relative;
     z-index: 1;
     backdrop-filter: blur(40px);
     border: solid 1px transparent;
     background-clip:  padding-box;
     box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

h2 {
     font-size: 1.4em;
}

h1, h2, p {
     margin: 0;
}

h1 {
     font-size: 2em;
     color: white;
     padding-left: 0.2em;
}

p {
     padding-top: 1em;
}